<div>
    <nav class=" color navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <a class="navbar-brand" href="/#/"><b>Craigslist</b></a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/#/">Home</a></li>
                <li ng-show="post"><a href="/#/posts">post Administration</a></li>
                <li><a href="/#/search">Search</a></li>
                <li ng-show="signout"><a href="/#/" ng-click="signOut()">Log Out</a></li>
                <li><a ng-href={{AccountHref}}>{{LoginName}}</a></li>
                <li><a href="/#/add-post"><img src="../images/plus.png" style="height: 40px; width: 40px; float: right; position:relative;left:150px; position: relative; bottom:10px;"></a></li>
            </ul>
        </div>
    </nav>

    <section class="section-padding" style="height:100%;">

<ul style="text-align: left;">
    <li ng-repeat='p in posts'>
    <p style="color: black;font-size: 15px;"><img src="../images/star.png" style="width: 20px;height: 20px;">&nbsp;{{p.posted_time}} &emsp;<a href="/#/post/show/{{p._id}}" style="font-size: 25px">{{p.title}}</a></p>
</li>
</ul>        
    </section>
</div>





