<div id="postDeleteBack">
    <nav class=" color navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <a class="navbar-brand" href="/#/"><b>Craigslist</b></a>
            </div>
            <ul class="nav navbar-nav pull-right">
                <li><a href="/#/">Home</a></li>
                <li ng-show="post"><a href="/#/posts">post Administration</a></li>
                <li><a href="/#/search">Search</a></li>
                <li ng-show="signout"><a href="/#/" ng-click="signOut()">Log Out</a></li>
                <li><a ng-href={{AccountHref}}>{{LoginName}}</a></li>
                <li><a href="/#/add-post"><img src="../images/plus.png" style="height: 40px; width: 40px; float: right; position:relative;left:150px; position: relative; bottom:10px;"></a></li>
            </ul>
        </div>
    </nav>

    <section class="section-padding" style="height: 100%;">
        <div class="container" >
            <div class="row">
                <div class="col-md-4" >
                    <div class="panel panel-primary">
                        <div class="panel-heading" >
                            <h3 class="panel-title">Delete post</h3>
                        </div>
                        <div class="panel-body" style="width: 100%;height: 100%;">
                            <p>
                                Are you sure you want to delete this post?
                            </p>
                            <form>
                                <div class="form-group">
                                    <label>Post Number</label>
                                    {{post.category}}
                                </div>
                                <div class="form-group">
                                    <label>Post Type</label>
                                    {{post.type}}
                                </div>
                                <div class="form-group">
                                    <label>Post title</label>
                                    {{post.title}}
                                </div>
                                <div class="form-group" style="display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 5;
overflow: hidden;">
                                    <label>Post content</label>
                                    {{post.content}}
                                </div>
                                
                                <input type="button" value="Delete" class="btn btn-danger" ng-click="delete()" >
                                <a class="btn btn-default" href="/#/posts">Go Back</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

